html, body {
	font-family: 'Helvetica Neue LT Std' !important;
	font-weight: 300 !important;
}

:focus {
	outline-color: transparent !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

.text-underline {
	text-decoration: underline !important;
}

.dropdown-menu {
	max-width: 100% !important;
}

@media (min-width: 768px) {
	.fixed-top-lg {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.navbar-padding-top-lg {
		margin-top: 9.5rem;
	}
}

input.form-control {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100% !important;
	background-color: transparent !important;
	color: white !important;
	border-radius: 0 !important;
	border: 0 !important;
	font-size: 1.5rem !important;
	font-weight: 400 !important;
}

/*input[type="search"]::-webkit-search-cancel-button {*/
	/*-webkit-appearance: none;*/
/*}*/

/*.opt.dropdown-item:before {*/
	/*position: absolute;*/
	/*right: 25px;*/
	/*top: 4px;*/
	/*content: '';*/
	/*width: 1.5rem;*/
	/*height: 1.5rem;*/
	/*border: 1px solid black;*/
	/*-webkit-border-radius: 0.15rem !important;*/
	/*-moz-border-radius: 0.15rem !important;*/
	/*border-radius: 0.15rem !important;*/
/*}*/

/*.bs-ok-default.check-mark:before {*/
	/*position: absolute;*/
	/*right: -8px;*/
	/*top: -3px;*/
	/*content: '';*/
	/*width: 1.55rem;*/
	/*height: 1.55rem;*/
	/*-webkit-border-radius: 0.15rem !important;*/
	/*-moz-border-radius: 0.15rem !important;*/
	/*border-radius: 0.15rem !important;*/
	/*background: #009688 !important;*/
/*}*/

/*.bootstrap-select .bs-ok-default:after {*/
	/*border-color: white !important;*/
/*}*/

/*.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {*/
	/*right: 32px !important;*/
	/*top: 6px !important;*/
/*}*/

p, small, input, select, .btn-sm {
	font-weight: 200 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white !important;
	opacity: 1 !important; /* Firefox */
	font-weight: 400 !important;
	font-size: 1.5rem !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white !important;
	font-weight: 400 !important;
	font-size: 1.5rem !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: white !important;
	font-weight: 400 !important;
	font-size: 1.5rem !important;
}
